.TopDealsPage {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.allDeals {
    display: flex;
    justify-content: space-between;
    box-shadow: #dddddd 0rem 0.2rem 1rem;
    border: 1px solid #dddddd;
    /* border-radius: 10px; */
}